@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-section {
  width: 100%;
  min-height: 200px;
  background-image: url("../src/assets/images/pattern-bg.png");
  position: relative;
  padding-bottom: 6rem;
}
.header-input {
  min-width: 250px;
  padding: 0.6rem;
  min-height: 44px;
  border-radius: 6px 0 0 6px;
  font-size: 18px;
}
.header-image-div {
  min-height: 46px;
  min-width: 42px;
  max-height: 100%;
  border-radius: 0 6px 6px 0;
  padding: 2px;
  z-index: 2;
}
.header-adress-section {
  background-color: white;
  position: absolute;
  top: 65%;
  margin-inline: auto;
  border-radius: 6px;
  padding: 1rem;
  min-width: 65%;
  max-width: 85%;
  z-index: 3;
}
.map-section-map {
  width: 100vw;
  height: 120vh;
  z-index: 1;
}
